/* --------------- PLEDGE CARD STRUCTURE  ---------------  */

.pledge-card {
    margin: 10px;
    padding: 15px;
    border-radius: 15px;
    min-height: 50px;
    height: auto; 
    border: 1px solid #EBEAE8;
    text-align: center;
    background-color: #EBEAE8;
    align-items: center;
    flex-basis: 15%;
    flex-grow: 1;
}

.pledge-card-text {
    text-decoration: none;
}

.pledge-card img {
    object-fit: cover;
    margin: 15px;
    max-width: 100px;
    max-height: 100px;
    box-shadow: 0px 4px 5px 0 #CAC7B7, 0px 6px 20px 0 #CAC7B7;
}

#pledgeAmount {
    color: #385B4F;
    font-weight: bold;
}

#pledgeDate {
    color: gray;
}