
/* --------------- HEADINGS  ---------------  */

h1 {
    /* font-size: 2rem;
    line-height: 3rem; */
    text-decoration: none;
    text-align: center;
    font-size: 2rem;
    margin: 20px;
    padding: auto;
}


/* --------------- HOMEPAGE  ---------------  */

#project-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    }

.project-detail img {
    width: calc(60% - 5px);
    max-width: 500px;
    max-height: 500px;
    object-fit: cover;
    }

/* --------------- PROJECT PAGE  ---------------  */

table {
    margin: 20px 0px;
    border: 2px solid gray;
    width: 50%;
    max-width: 300px;
    box-shadow: 0px 0px 5px gray;
}

th {
    border-bottom: 1px solid black;
}

td {
    text-align: center;
    padding: 5px;
}

.status-card {
    width: 50%;
    max-width: 300px;
    border: 1px solid black;
    box-shadow: 0px 0px 5px gray;
    padding: 5px;

    }


/* --------------- ALL BUTTONS & LINKS ---------------  */

.button-link,
.button {
    display: inline-block;
    text-align: center;
    padding: 8px 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    text-decoration: none;
    font-weight: bold;
    color: #333;
    background-color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 90px; /* set the width to be the same for all buttons */
}

.button-link:hover, .button:hover {
    background-color: #eee;
}

/* button {
    border: none;
    color: #fff;
    background-color: #333;
} */

.button:hover, button:hover {
    background-color: #555;
    color: #fff;
    cursor: pointer;
}


