/* RENDERED ON USERPAGE.JSX + SESSIONUSERPAGE.JSX */

.user-profile {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.user-profile img {
    object-fit: cover;
    margin: 40px;
    max-width: 300px;
    max-height: 300px;
    border-radius: 5px;
    box-shadow: 0px 4px 5px 0 #CAC7B7, 0px 6px 20px 0 #CAC7B7;
}