nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #EBEAE8;
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-image {
    height: 350px;
}

.nav-control {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 10px;
}

.button-link {
    margin: 5px 5px;
}

nav .button-link:focus {
    background-color:#385B4F;
    color: #fff;
    cursor: pointer;
}


#logout-button {
    display: block;
    margin: 10px auto;
}

.nav-container {
    margin-bottom: 40px;
}
