nav {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-image {
    height: 300px;
}

.nav-control {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 10px;
}

.button-link {
    margin: 5px 5px;
}


#logout-button {
    display: block;
    margin: 10px auto;
}

